# Case 1 - SQL Queries

## Business Problem

You are the owner of a small electronic shop in Bogotá called ElectroSQL. You want to start to have a digital record of your clients, transactions and suppliers and you want to use that information to understand your business and find ways to improve it.

## DataBase Design

You have thought and decided that this is the DataBase design you can create with the information that you are going to implement

<img src=/indu5000_Case_1/Images/DB_Design.png>

## DataBase Creation

So, the first thing you are going to do is to create the database with the informatio you have already aquireded.
This Database is going to be hosted in the cloud at [elephantSQL](https://www.elephantsql.com),a free Database provider powered by PostgreSQL 
These are the steps that need to be followed:

- Create an account at elephantSQL
- Create a free instance by: Clicking on the option create new instance, Fill the information: Name: ElectroSQL, Plan: Tiny turtle, Select any available region, Click on review and create instance
- Create the database by copying the queries located in the text file called "DB_creation.txt" and pasting them in the SQL Query input box located in the Browser tab.
- Confirm the table creation by running on the following code on the SQL Query input box: 'SELECT * FROM ElectroSQL.clientes'

## DataBase Conexion

Now that the Database has been created, you create the concexion between the database and the Notebook where we are working.
In order to do that, you can go tho the left side panel, to the integration tab. There you choose the option PostgreSQL and click on the add button. The required information is available at the Detail tab in elephantSQL. So you need to copy and paste the information. The left side is the information to fill on Deepnote and the right side is the information located on elephantSQL:

- Hostname: Server
- Username: User & Default database
- Password: Password
- Database: User & Default database
- Integration Name:  ElectroSQL

Once the conexion is made, and adictional option for the creation of cells¡ should be made available on Deepnote. It should be called ElectroSQL.
In order to verify that the conexion works properly you can open a new ElectroSQL cell and type in:
SELECT * FROM ElectroSQL.clientes

## SQL Queries

### Basic Queries

First, you are going to run some basic queries in order to have a basic understanding of the business

Keep in mind all the available sentences that we can use in order to request information from the database
- **Mandatory:**
- **SELECT:** Columns or Attributes that I want to select
- **FROM:** From which table do I bring the information
- **Optional**
- **WHERE:** Filter conditions, which rows are fetched, when grouped it does not need to be in select
- **GROUP BY:** Grouping the data
- **HAVING:** Filter on aggregated data
- **ORDER BY:** Ordering the data
-

- There are also some logic functions that can be used:
- **AND:** Sum of Conditions
- **OR:** Either one of the two conditions
- **NOT:** That does not meet a certain condition

- And some aggregation functions that can help us to perform basic mathematical operations:
- **AVG ():** Average column average - Numbers
- **COUNT ():** Amount of Data - Numbers
- **DISTINCT ():** Different values in the column
- **SUM ():** Sum of row data
- **MAX ():** Maximum value in the column
- **MIN ():** Minimum value in the column

**Question 1**

Which are the total amount of records in each one of the tables?

**Answer**

**Question 2**

How many clients and products does the business have?

**Answer**

**Question 3**

Which are the 3 more expensive transactions?

**Answer**

**Question 4**

From which supplier is each of the products purchased?

**Answer**

**Question 5**

Which is the customer code of each customer that made each one of the purchases?

**Answer**

**Question 6**

What sales were made via the Web?

**Answer**

**Question 7**

Which sales were worth more than 30.000?

**Answer**

**Question 8**

What sales were worth between 40.000 and 70.000?

**Answer**

**Question 9**

How many sales were made in each one of the channels?

**Answer**

**Question 10**

How many items of each were sold and which one sold the most?

**Answer**

### Table Joins

Depending on the result I want to get. These are the most common joins:

- **Left Join:** The table on the left, supplemented by the data on the right
- **Right Join:** The table on the left, supplemented by the data on the right
- **Inner Join:** The intersection of the data from the two tables that are related
- **Full Outer Join:** Complete join between the two tables

<img src=/indu5000_Case_1/Images/SQL_Joins.png>

[AAA](/Images/SQL Joins.png)

**Question 11**

What is the color of the product sold in each of the transactions?

**Answer**

**Question 12**

What is the average price for each of the product colors that are sold?

**Answer**

**Question 13**

How many products for each supplier are sold in channels that are not resellers ('Tercero') and whose average price is greater than 45,000? - Sorting them from Highest to Lowest in quantity

**Answer**

**Question 14**

Which channels had transactions for more than 30,000 of products purchased at Juanito_tech and have average sales greater than 50,000?

**Answer**

**Question 15**

Let's add total sales by product to the PRODUCT table

**Answer**

**Question 16**

At what average price are each of the colors sold?

**Answer**

In [2]:


df_1 = _deepnote_execute_sql("""SELECT * FROM ElectroSQL.clientes
""", 'SQL_BF5F6FDA_0BB4_4AD5_B9EB_0C2E93F79886')
df_1

   cliente_id     nombre   apellido        ciudad
0       OGNNG      PEDRO     PASCAL     CARTAGENA
1       BLJCH     ANDRES      LOPEZ  BARRANQUILLA
2       MBKAO    ARMANDO    MENDOZA      MEDELLIN
3       CMLGF      LAURA     SUAREZ          CALI
4       HGBBK  VALENTINA      GOMEZ      MEDELLIN
5       JFAOD      SOFIA   CHAPARRO        BOGOTÁ
6       AMHGA       JOSE    HERRERA     CARTAGENA
7       ELDJL  FRANCISCO    GIRALDO        BOGOTÁ
8       GDCHI       ROSA   GONZALES      MEDELLIN
9       BMEBC      MARIA  RODRIGUEZ      MEDELLIN
10      EJDAB      MARTA    SANCHEZ        BOGOTÁ
11      NOFBA     BRAYAN    FONSECA          CALI
12      JKHLF     RAFAEL     OROZCO     CARTAGENA
13      EFHOP     MARLON     MORENO      MEDELLIN
14      AAOFM     GREICY     RENDON        BOGOTÁ
15      GHJKL     CARLOS      VIVES   SANTA MARTA
16      PIDDI     ANDRES  JARAMILLO   SANTA MARTA

In [3]:


df_2 = _deepnote_execute_sql("""SELECT * FROM "electrosql"."productos"
""", 'SQL_BF5F6FDA_0BB4_4AD5_B9EB_0C2E93F79886')
df_2

   productos_id       producto   color              proveedor
0            79  A_Inalambrico   Negro  Distribuciones_Pepito
1            77       Parlante    Azul     Club_de_Tecnología
2            70      A_Diadema  Blanco           Juanito_tech
3            68      Microfono    Gris  Distribuciones_Pepito
4            86          Cable   Negro           Juanito_tech

In [4]:


df_3 = _deepnote_execute_sql("""SELECT * FROM "electrosql"."transacciones"
""", 'SQL_BF5F6FDA_0BB4_4AD5_B9EB_0C2E93F79886')
df_3

    transaccion_id cliente_id    canal       producto  precio
0                1      PIDDI  Tercero  A_Inalambrico   43000
1                2      EJDAB   Tienda       Parlante   91000
2                3      BMEBC      Web      A_Diadema   93000
3                4      AMHGA  Tercero  A_Inalambrico   11000
4                5      EFHOP   Tienda  A_Inalambrico   26000
5                6      GDCHI  Tercero      A_Diadema   56000
6                7      BMEBC   Tienda  A_Inalambrico   77000
7                8      JFAOD  Tercero       Parlante   93000
8                9      BLJCH   Tienda       Parlante   28000
9               10      CMLGF  Tercero  A_Inalambrico   78000
10              11      KDPHE   Tienda      A_Diadema   32000
11              12      OGNNG      Web  A_Inalambrico   35000
12              13      CMLGF  Tercero  A_Inalambrico   95000
13              14      JKHLF  Tercero       Parlante   22000
14              15      GDCHI   Tienda       Parlante   28000
15              16      CMLGF   Tienda      A_Diadema   32000
16              17      MBKAO      Web       Parlante   28000
17              18      BMEBC  Tercero  A_Inalambrico   51000
18              19      NOFBA      Web       Parlante   58000
19              20      ELDJL  Tercero       Parlante   22000
20              21      CMLGF   Tienda  A_Inalambrico   12000
21              22      GDCHI      Web  A_Inalambrico   93000
22              23      HGBBK   Tienda  A_Inalambrico   28000
23              24      AAOFM  Tercero      A_Diadema   94000
24              25      CMLGF   Tienda      A_Diadema   11000

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=c3e4079d-b65d-4f98-a9c4-e84568c199f2' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>